@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-gray-200 font-nunito;
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.gray {
  background: #ddd;
}
.contents-wrapper, .label, .contents {
  display: inline-block;
}

.contents {/* no left-right padding at beginning */
  white-space: nowrap; /* keeps text all on same line */

  -webkit-transition: width 1s ease-in-out, padding-left 1s ease-in-out, padding-right 1s ease-in-out;
  -moz-transition: width 1s ease-in-out, padding-left 1s ease-in-out, padding-right 1s ease-in-out;
  -o-transition: width 1s ease-in-out, padding-left 1s ease-in-out, padding-right 1s ease-in-out;
  transition: width 1s ease-in-out, padding-left 1s ease-in-out, padding-right 1s ease-in-out;
}
.label:hover + .contents-wrapper .contents {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
/* Change the white to any color ;) */
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgb(180, 43, 43) inset !important;
} */
